<h2>Category Index</h2>

<% @categories.each do |category| %>
  <ul><%= category.title %>
  <%= link_to "Edit Category", edit_category_path(category) %>
  <%= link_to "Delete Category", category_path(category), method: :delete %></ul>
<% end %>
